/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */

a {
    text-decoration: none;
}

/**
 * Remove list-style
 */

ol,
ul {
    list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
    font-size: 1em;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
}

body {
    -webkit-font-smoothing: antialiased;
    font: 100%;
    height: 3300px;
    background: #e5e5e5;
}

/* menu */

.menu {
    background: #f0f0ed;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.menu ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-self: center;
}

.menu ul li {
    display: inline-block;
    padding: 15px;
    text-align: center;
}

.menu ul li:nth-child(1) {
    padding-left: 0px;
    flex: 1;
}

.menu ul li:nth-child(2) {
    flex: 1;
}

.menu ul li:nth-child(3) {
    flex: 1;
}

.menu ul a {
    cursor: pointer;
    padding: 20px 0;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #3d3d3d;
}

.menu ul li:before {
    content: "";
    width: 50px;
    height: 20px;
    background: currentColor;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    left: 40px;
    z-index: -1;
    bottom: -10px;
}

.menu ul li:nth-child(1):before {
    background: #fdffb6;
}

.menu ul li:nth-child(2):before {
    background: #caffbf;
}

.menu ul li:nth-child(3):before {
    background: #ffd6a5;
}

/* animação do menu */
/* SOBRE ANIMATION */
.menu ul li:hover:nth-child(2):before,
.menu ul li:focus:nth-child(2):before {
    animation: sheen 0.4s ease-in-out both;
}

@keyframes sheen {
    0% {
        transform: scale(1) rotate(0) translate(0px, 0px);
    }

    100% {
        transform: scale(2) rotate(0) translate(100%, 0px);
        right: 0px;
        left: -55px;
        width: 55px;
        top: 5px;
        bottom: 0;
    }
}

/* portfolio animation */
.menu ul li:hover:nth-child(1):before,
.menu ul li:focus:nth-child(1):before {
    animation: sheen2 0.4s ease-in-out forwards;
}

@keyframes sheen2 {
    0% {
        transform: scale(1) rotate(0) translate(0px, 0px);
    }

    100% {
        transform: scale(2) rotate(0) translate(100%, 0px);
        right: 0px;
        left: -55px;
        width: 68px;
        top: 5px;
        bottom: 0;
    }
}

/* animação contato */
.menu ul li:hover:nth-child(3):before,
.menu ul li:focus:nth-child(3):before {
    animation: sheen3 0.4s ease-in-out forwards alternate;
}

@keyframes sheen3 {
    0% {
        transform: scale(1) rotate(0) translate(0px, 0px);
    }

    100% {
        transform: scale(2) rotate(0) translate(100%, 0px);
        right: 0px;
        left: -65px;
        width: 68px;
        top: 5px;
        bottom: 0;
    }
}

/* titulo subtitulo e espaçador */
.segura {
    position: relative;
    top: -20px;
    z-index: -20;
    overflow: hidden;
    left: 0;
    right: 0;
    display: block;
}

.segura h1 {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #323232;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    white-space: nowrap;
}

.segura h2 {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #323232;
}

.segura h1::after {
    content: "";
    display: block;
    background: url("img/separador.svg") no-repeat;
    background-size: 390px;
    background-position: center;
    height: 30px;
    margin: 40px auto;
}

/* ondas  da nuvem*/
.waves {
    max-width: 100%;
    left: 0px;
    top: 0;
}

.wave1,
.wave2,
.wave3,
.wave4,
.wave5,
.wave6,
.wave7,
.wave8 {
    animation: nuvem 8s ease-in-out alternate infinite;
    overflow: hidden;
}

@keyframes nuvem {
    from {
        transform: translate3d(10px, -6%, 3em);
    }

    to {
        transform: translate3d(20px, 0px, 3em);
    }
}

.box {
    height: 900px;
    z-index: -100;
}

/* gota animação */

.gota1 {
    position: absolute;
    top: 50%;
    z-index: -99;
    animation: gota 5s linear infinite;
    opacity: 20%;
    left: 17%;
}

.gota2 {
    position: absolute;
    top: 50%;
    z-index: -99;
    animation: gota 5s 2s linear infinite;
    left: 34%;
    opacity: 20%;
}

.gota3 {
    position: absolute;
    top: 50%;
    z-index: -99;
    animation: gota 5s 1s linear infinite;
    left: 52%;
    opacity: 20%;
}

.gota4 {
    position: absolute;
    top: 50%;
    z-index: -99;
    animation: gota 5s 4s linear infinite;
    left: 72%;
    opacity: 20%;
}

.gota5 {
    position: absolute;
    top: 50%;
    z-index: -99;
    animation: gota 5s 3s linear infinite;
    left: 22%;
    opacity: 20%;
}

@keyframes gota {
    from {
        transform: translateY(0vh);
    }

    to {
        opacity: 100%;
        transform: translateY(1000px);
        /* MUDAR O TAMANHO DA TELA DE ACORDO COM O TEMPO */
    }
}

/* portfoilio */
.scroll {
    scroll-behavior: smooth;
    margin-top: -40px;
}

#portfolio h2 {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #252525;
    text-align: center;
    margin-bottom: 20px;
}

#portfolio h2:before {
    content: "";
    width: 90px;
    height: 20px;
    background: #fdffb6;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    left: 70px;
    z-index: -1;
    bottom: -10px;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.wrap div {
    flex: 1 1 calc(33.333% - 10px);
    margin-left: 10px;
}

.wrap img {
    margin: 0 auto;
    z-index: -99;
    transition: transform 0.4s ease-in-out;
}

.wrap img:hover {
    transform: scale(1.1);
}

.wrap p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3d3d3d;
}

/* sobre */

#sobre {
    position: relative;
    display: block;
    margin-top: 60px;
    scroll-behavior: smooth;
}

.segura-content {
    position: absolute;
    top: 0px;
    width: 100%;
    background: linear-gradient(94.25deg, #bdb2ff 5.09%, #9bf6ff 183.44%);
    z-index: -3;
}

.segura-content h2 {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #3d3d3d;
    text-align: center;
    margin: 60px 0 60px 0;
}

.segura-content h2::before {
    content: "";
    width: 60px;
    height: 20px;
    background: #caffbf;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    left: 50px;
    z-index: -1;
    bottom: -8px;
}

.sobre-p {
    max-width: 460px;
    margin-right: 20px;
    order: -1;

}

.segura-content p {
    font-family: Inconsolata;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4em;
    color: #3d3d3d;
    text-align: start;
    margin-left: 20px;
}

.baixobg {
    overflow: hidden;
    display: block;
    max-width: 100%;
    height: 100%;
}

/* img sbre */
.wrap-sobre {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

.wrap-sobre img {
    margin: 20px 40px 20px 0;
}

.loader {
    border: 6px solid #e5e5e5;
    border-top: 6px solid #3d3d3d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite;
    margin-bottom: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wrap-avatar {
    display: flex;
    justify-content: space-around;
}

#avatar {
    margin-bottom: 40px;
    margin-right: 40px;
    display: block;
    order: 2;
}